boto3==1.22.9
botocore==1.25.9
dtw==1.4.0
h5py==3.1.0
imageio-ffmpeg==0.4.7
imgviz==1.5.0
keras==2.6.0
labelme==5.0.1
matplotlib==3.2.2
moviepy==1.0.3
numpy==1.19.5
opencv-contrib-python==4.6.0.66
PyYAML==5.4.1
requests-oauthlib==1.3.1
sklearn
tensorflow==2.6.0
torch==1.11.0
torchvision==0.12.0